/* Custom fonts */
@font-face {
    font-family: "Young Serif";
    src: url(fonts/YoungSerif-Regular.otf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Bold.ttf);
    font-weight: bold;
}

:root {
    --navy: #02182b;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
}

header {
    background-image: url(images/yellow-pink-bg.png);
    background-size: cover;
    background-position: right bottom;
}

.nav-grid-container {
    display: grid;
    grid-template-columns: 225px auto min-content min-content min-content;
    grid-template-rows: 75px;
    grid-auto-flow: column;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    font-family: "Young Serif", Georgia, Times, serif;
    color: var(--navy);
    font-size: 1.9em;
    text-align: center;
    margin: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkslategrey;
    text-decoration: none;
}

.nav-link {
    font-family: Inter, Helvetica, sans-serif;
    color: var(--navy);
    text-decoration: none;
    text-align: center;
    font-size: 0.95em;
    font-weight: bold;
    margin: auto;
    margin-right: 10px;
    padding: 10px;
    padding-top: 17px;
    transition: 0.3s;
}

.nav-link:hover {
    color: white;
}

.intro-grid-container {
    display: grid;
    grid-template-columns: auto 70px 200px 300px auto;
    grid-template-rows: 50px 100px 100px 100px 50px;
    column-gap: 30px;
}

.headshot {
    width: 200px;
    height: 200px;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.intro-blurb {
    font-family: "Young Serif", Georgia, Times, serif;
    color: white;
    font-size: 1.9em;
    grid-column-start: 4;
    grid-row-start: 3;
}

@media (max-width: 650px) {
    .intro-grid-container {
        grid-template-columns: auto 200px 250px auto;
    }

    .headshot {
        grid-column-start: 2;
    }

    .intro-blurb {
        grid-column-start: 3;
    }
}

hr {
    margin-top: 100px;
    border: none;
    border-bottom: 2px solid var(--navy);
}

.content-columns {
    display: grid;
    grid-template-columns: auto max-content auto;
}

.content-body {
    grid-column-start: 2;
    max-width: 800px;
    /* min-width: 700px; */
}

h1 {
    font-family: "Young Serif", Georgia, Times, serif;
    font-size: 1.9em;
    color: var(--navy);
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 60px;
    grid-column-start: 2;
}

.project-grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    column-gap: 50px;
    margin-bottom: 100px;
}

.project-grid-container:last-child {
    margin-bottom: 0px;
}

.project {
    grid-row-start: 1;
}

img.project {
    width: 250px;
    height: 250px;
}

h2.project-title {
    font-family: "Young Serif", Georgia, Times, serif;
    font-size: 1.6em;
    color: var(--navy);
    font-weight: normal;
    margin-top: 0px;
}

p {
    font-family: Inter, Helvetica, san-serif;
    font-size: 1.2em;
    color: black;
}

.project-blurb {
    max-width: 400px;
    /* text-align: justify; */
}

.flipped img {
    grid-column-start: 2;
}

.flipped div {
    grid-column-start: 1;
}

.bio {
    max-width: 700px;
    text-align: justify;
}

@media (max-width: 700px) {
    .project-grid-container {
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        margin-bottom: 50px;
    }

    img.project {
        grid-column-start: 1;
        margin-bottom: 30px;
    }

    .project {
        grid-row-start: auto;
    }

    .project-blurb {
        max-width: 500px;
    }
    
    .content-body {
        max-width: 500px;
    }
}

a.contact {
    display: block;
    font-family: Inter, Helvetica, san-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    width: fit-content;
}

.gradient-underline {
    background-image: url(images/yellow-pink-bg.png);
    background-size: 100% 0.25em;
    background-repeat: no-repeat;
    background-position: 0 88%;
    transition: background-size 0.2s ease-in;
}

a.contact:hover .gradient-underline {
    background-size: 100% 100%;
}

.contact-links {
    margin-bottom: 50px;
    width: 700px;
}

@media (max-width: 700px) {
    .contact-links {
        max-width: 500px;
    }
}

footer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    background-color: var(--navy);
}

footer p {
    color: white;
    font-size: 0.9em;
    font-weight: medium;
    margin: 10px auto 10px 10px;
}

footer a {
    font-family: Inter, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    text-align: right;
    font-weight: medium;
    margin: 10px 10px 10px auto;
}

footer a:hover {
    color: lightgrey;
}