/* Custom fonts */
@font-face {
    font-family: "Young Serif";
    src: url(fonts/YoungSerif-Regular.otf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Bold.ttf);
    font-weight: bold;
}

:root {
    --navy: #143a5b;
    --test: #02182b;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
}

a, a:visited {
    color: black;
}

a:hover {
    color: darkslategrey;
    text-decoration: none;
}

hr {
    margin-top: 75px;
    border: none;
    border-bottom: 2px solid var(--navy);
}

h1 {
    font-family: "Young Serif", Georgia, Times, serif;
    font-size: 1.9em;
    color: var(--navy);
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 60px;
    grid-column-start: 2;
}

p {
    font-family: Inter, Helvetica, san-serif;
    font-size: 1.2em;
    color: black;
}

.arrow {
    outline-color: var(--navy);
    width: 20px;
    height: 20px;
}

header {
    background-image: url(images/yellow-pink-bg.png);
    background-size: cover;
    background-position: right bottom;
}

.nav-grid-container {
    display: grid;
    grid-template-columns: 225px auto min-content min-content min-content;
    grid-template-rows: 75px;
    grid-auto-flow: column;
    margin-left: 10px;
    margin-right: 10px;
}

.logo, .logo:visited {
    font-family: "Young Serif", Georgia, Times, serif;
    color: var(--navy);
    font-size: 1.9em;
    text-decoration: none;
    margin: auto;
    width: 200px;
}

.logo:hover {
    color: var(--navy);
}

a.nav-link, .nav-link:visited {
    font-family: Inter, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 0.95em;
    font-weight: bold;
    margin: auto;
    margin-right: 10px;
    padding: 10px;
    padding-top: 17px;
    transition: 0.3s;
}

.nav-link:hover {
    color: white;
}

.nav-select {
    color: black;
    background-image: linear-gradient(0deg, white, white);
    background-size: 100% 0.25em;
    background-repeat: no-repeat;
    background-position: 0 88%;
}

.intro-grid-container {
    display: grid;
    grid-template-columns: auto 70px 200px 300px auto;
    grid-template-rows: 50px 100px 100px 100px 50px;
    column-gap: 30px;
}

.headshot {
    width: 200px;
    height: 200px;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.intro-blurb {
    font-family: "Young Serif", Georgia, Times, serif;
    color: white;
    font-size: 1.9em;
    grid-column-start: 4;
    grid-row-start: 3;
}

.content-columns {
    display: grid;
    grid-template-columns: auto max-content auto;
}

.content-body {
    grid-column-start: 2;
    max-width: 800px;
}

.project-grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    column-gap: 50px;
    margin-bottom: 100px;
}

.project-grid-container:last-child {
    margin-bottom: 0px;
}

.project {
    grid-row-start: 1;
}

img.project {
    width: 250px;
    height: 250px;
}

h2.project-title {
    font-family: "Young Serif", Georgia, Times, serif;
    font-size: 1.6em;
    color: var(--navy);
    font-weight: normal;
    margin-top: 0px;
}

.project-blurb {
    max-width: 500px;
}

.flipped img {
    grid-column-start: 2;
}

.flipped div {
    grid-column-start: 1;
}

.long-form {
    max-width: 800px;
    text-align: justify;
}

a.block, a.block:visited {
    display: block;
    font-family: Inter, Helvetica, san-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    width: fit-content;
}

.gradient-underline {
    background-image: url(images/yellow-pink-bg.png);
    background-size: 100% 0.25em;
    background-repeat: no-repeat;
    background-position: 0 88%;
    transition: background-size 0.2s ease-in;
}

a.block:hover .gradient-underline {
    background-size: 100% 100%;
}

.contact-links {
    width: 800px;
}

.top-link {
    margin-top: 50px;
}

p.block {
    width: 800px;
}

.resume-entry {
    margin-top: 25px;
    width: 800px;
}

.resume-entry p {
    margin: 0px;
}

.resume-title {
    font-weight: bold;
    font-size: 1.3em;
}

.resume-subtitle {
    font-style: italic;
    font-size: 1em;
}

.resume-date, .resume-text {
    font-size: 1em;
}

ul {
    margin: 10px;
}

li {
    font-family: Inter, Helvetica, sans-serif;
    font-size: 0.9em;
}

footer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    background-color: var(--navy);
    margin-top: 75px;
}

footer p {
    color: white;
    font-size: 0.9em;
    font-weight: medium;
    margin: 10px auto 10px 10px;
}

footer a, footer a:visited {
    font-family: Inter, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    text-align: right;
    font-weight: medium;
    margin: 10px 10px 10px auto;
}

footer a:hover {
    color: lightgrey;
}

@media (max-width: 810px) {
    .project-grid-container {
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        margin-bottom: 50px;
        column-gap: 0px;
    }

    img.project {
        grid-column-start: 1;
        margin-bottom: 30px;
    }

    .project {
        grid-row-start: auto;
    }

    .project-blurb, .content-body, .contact-links, p.block, .resume-entry {
        max-width: 500px;
    }
}

@media (max-width: 660px) {
    .intro-grid-container {
        grid-template-columns: auto 200px 250px auto;
    }

    .headshot {
        grid-column-start: 2;
    }

    .intro-blurb {
        grid-column-start: 3;
    }
}

@media (max-width: 520px) {
    .nav-grid-container {
        grid-template-columns: auto auto auto;
        grid-template-rows: 60px auto;
    }

    .logo {
        grid-column: 1 / 5;
        text-align: center;
    }

    .nav-link {
        text-align: center;
    }

    .intro-grid-container {
        grid-template-columns: auto 100px 180px auto;
        grid-template-rows: 50px 20px auto;
        column-gap: 20px;
    }

    .headshot {
        width: 100px;
        height: 100px;
    }

    .intro-blurb {
        font-size: 1.3em
    }

    .content-columns {
        grid-template-columns: 10px auto 10px;
    }

    .content-body, .project-title, .contact-links, p.block, .resume-entry {
        width: 100%;
    }
}